$color-primary: #7926de;
$color-primary-500: #7926de54;
$color-accent: #d18bff;
$color-accent-500: #893ebb7e;

.graph {
	display: flex;
	align-items: end;
	gap: 6px;
	width: min(100vw, 70rem);

	height: 80vh;
	margin-top: 1rem;

	&--bar {
		background-color: $color-primary-500;

		border: 4px solid $color-primary;
		border-radius: 4px;

		display: flex;
		justify-content: center;
		width: 100%;

		align-items: end;

		position: relative;

		transition: transform 0.2s;
	}
	&--text {
		color: $color-accent;
		text-align: center;
		font-size: 0.5rem;
		position: absolute;
		bottom: -2rem;
	}
}

.bar--accent {
	background-color: $color-accent-500;
	border: 4px solid $color-accent;
	transform: scale(1.035);
}

.bar--danger {
	background-color: $color-accent-500;
	border: 4px solid rgb(147, 0, 0);
	transform: scale(1.035);
}
