$color-primary: #491c7f;
$color-primary-500: #491c7f67;
$color-accent: #883ebb;
$color-accent-500: #893ebb7e;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.btn {
	padding: 0.65rem;
	border-radius: 0.75rem;
	outline: none;
	border: none;
	padding-inline: 1rem;
	background-color: $color-primary;
	transition: 0.5s;

	display: flex;
	gap: 0.5rem;

	&:hover {
		background-color: $color-accent;
	}
}

.top-section {
	display: flex;
	justify-content: center;
	gap: 1rem;
}
