.algorithm-info {
  position: absolute;
  width: min(80vw, 45rem);
  top: 3rem;
  border-radius: 1rem;
  padding: 2rem;

  background-color: var(--color-bg-500);

  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);

  z-index: 100;

  overflow-y: auto;
  max-height: 85vh;

  animation: slide-in 0.5s;
}

@keyframes slide-in {
  0% {
    opacity: 0.2;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
